body {
    margin: 0;
    padding: 0;
    background-color: #EDEDED;
}

.ultranav {
    height: 9.3vh;
    background-color: #ffffff;
    position: relative;
    z-index: 10;
}

.meganav {
    height: 8.7vh;
    background-color: #2F5697;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7.5vh;
    padding: 1vw;
    background-color: #3E6AAE;
    box-sizing: border-box;
    position: relative;
    top: 0.33vw;
}

.logo {
    width: 2.5vw;
    height: 2.5vw;
    background-color: white;
    position: relative;
    left: 5vw;
    top: 0.29vw;
    padding-top: 0.7vw;
    padding-left: 0.5vw;
    box-sizing: border-box;
    display: flex;
}

.rectangle {
    width: 0.75vw;
    height: 1.8vw;
    background-color: #3E6AAE;

}

.triangle {
    width: 0;
    height: 0;
    border-left: 0.55vw solid transparent;
    border-right: 0.55vw solid transparent;
    border-top: 1.1vw solid #3E6AAE;
    position: relative;
    right: 0.6vw;
}

.box_1 {
    width: 14vw;
    height: 2vh;
    background-color: white;
    position: relative;
    left: 2.1vw;
    top: 0.29vw;
}

.search {
    width: 42vw;
    height: 3.5vh;
    background-color: white;
    position: relative;
    right: 1vw;
    top: 0.29vw;
    box-sizing: border-box;
    padding-top: 0.5vw;
    padding-left: 39vw;
}

.box_2 {
    width: 10vw;
    height: 2vh;
    background-color: white;
    position: relative;
    left: 1.7vw;
    top: 0.29vw;
}

.box_3 {
    width: 4vw;
    height: 2vh;
    background-color: white;
    position: relative;
    right: 4vw;
    top: 0.29vw;
}

.profile_container {
    background-color: #ffffff;
    width: 69vw;
    height: 15.8vw;
    margin-left: 5.7vw;
    margin-right: 5.7vw;
    margin-bottom: 4.4vw;
}

.profile {
    background-color: #EFCB15;
    width: 69vw;
    height: 14.2vw;
}

.picture_container {
    background-color: #ffffff;
    width: 12.5vw;
    height: 12.5vw;
    position: relative;
    left: 3.5vw;
    top: 6vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.picture {
    background-color: #E9A4B7;
    width: 11.2vw;
    height: 11.2vw;
}

.name {
    background-color: #ffffff;
    width: 16vw;
    height: 1.2vw;
    position: relative;
    left: 17.8vw;
    bottom: 3.8vw;}

.description {
    background-color: #ffffff;
    width: 12vw;
    height: 1.2vw;
    position: relative;
    left: 17.8vw;
    bottom: 1.9vw;
}

.down {
    display: flex;
}

.floating_bar {
    background-color: #ffffff;
    width: 25vw;
    height: 2.5vw;
    position: relative;
    margin-left: 5.7vw;
}

.pictures {
    background-color: #ffffff;
    width: 25vw;
    height: 25vw;
    position: relative;
    margin-left: 5.7vw;
    top: 1.6vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5vw;
    padding: 1.5vw;
    box-sizing: border-box;
}

.picture_1, .picture_2, .picture_3,
.picture_4, .picture_5, .picture_6,
.picture_7, .picture_8, .picture_9 {
    width: 100%;
    height: 100%;
}

/* Esta me la tiró la IA porque no se me habría ocurrido cómo
   ponerle color a los cuadrados sin llamarlos individualmente.
   Pero básicamente lo que hace es llamar al n° hijo de pictures
   y asignarle, en este caso, un color diferente. */

.pictures div:nth-child(1) {
    background-color: #E8DDA5;
}

.pictures div:nth-child(2) {
    background-color: #ABA7E4;
}

.pictures div:nth-child(3) {
    background-color: #A7CCE7;
}

.pictures div:nth-child(4) {
    background-color: #D8A7E9;
}

.pictures div:nth-child(5) {
    background-color: #A9E8DA;
}

.pictures div:nth-child(6) {
    background-color: #D8A7E9;
}

.pictures div:nth-child(7) {
    background-color: #A9E8DA;
}

.pictures div:nth-child(8) {
    background-color: #A7CCE7;
}

.pictures div:nth-child(9) {
    background-color: #E8DDA5;
}

.comment_1 {
    width: 40.2vw;
    height: 12.5vw;
    position: relative;
    margin-left: 3.8vw;
    margin-bottom: 2.5vw;
}

.top_1 {
    background-color: #ffffff;
    width: 100%;
    height: 2.5vw;
    margin-bottom: 0.2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15vw;
    padding-right: 3vw;
    box-sizing: border-box;
}

.middle_1 {
    background-color: #ffffff;
    width: 100%;
    height: 7.1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-left: 3vw;
    padding-right: 3vw;
}

.bottom_1 {
    background-color: #ffffff;
    width: 100%;
    height: 2.5vw;
    margin-top: 0.2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25vw;
    padding-right: 3vw;
    box-sizing: border-box;
}

.bar_1, .bar_2, .bar_3 {
    background-color: #D6DFE2;
    width: 4vw;
    height: 0.7vw;
}

.commenter_1 {
    background-color: #E9A4B7;
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
}

.comment_1_text {
    background-color: #D6DFE2;
    width: 30vw;
    height: 0.7vw;
}

.green, .gold, .blue {
    width: 1vw;
    height: 1vw;
}

.green {
    background-color: #B9E4A5;
}

.gold {
    background-color: #E9DEA3;
}

.blue {
    background-color: #9CCBED;
}

.comment_2 {
    width: 40.2vw;
    height: 14.1vw;
    position: relative;
    margin-left: 3.8vw;
    margin-bottom: 2.5vw;
}

.top_2 {
    background-color: #ffffff;
    width: 100%;
    height: 11.5vw;
    margin-bottom: 0.2vw;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 2vw;
    box-sizing: border-box;
}

.bottom_2 {
    background-color: #ffffff;
    width: 100%;
    height: 2.4vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 3vw;
    padding-right: 3vw;
    box-sizing: border-box;
}

.commenter_2 {
    background-color: #D5A9E0;
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
}

.commenter_2_name {
    background: #A8CDE9;
    width: 10vw;
    height: 0.7vw;
    position: relative;
    bottom: 2vw;
    left: 4vw;
}

.commenter_2_description {
    background: #EBEBEB;
    width: 7vw;
    height: 0.3vw;
    position: relative;
    bottom: 1.5vw;
    left: 4vw;
}

.comment_2_bar_1 {
    background-color: #D6DFE2;
    width: 100%;
    height: 0.7vw;
    position: relative;
    margin-top: 1.2vw;
    margin-bottom: 1vw;
}

.comment_2_bar_2 {
    background-color: #D6DFE2;
    width: 90%;
    height: 0.7vw;
    position: relative;
}

.small_bar_1, .small_bar_2, .small_bar_3 {
    background-color: #C7C7C7;
    width: 1.4vw;
    height: 0.7vw;
}

.medium_bar_1, .medium_bar_2, .medium_bar_3 {
    background-color: #CACACA;
    width: 3.3vw;
    height: 0.3vw;
    position: relative;
    right: 3.5vw;
}

.sidebar {
    width: 19.6vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 9.3vh;
    box-sizing: border-box;
    z-index: 1;
}

.side_top {
    background-color: #ffffff;
    width: 100%;
    height: 85vh;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5vw;
    margin-bottom: 0.4vh;
    padding: 1vw;
    box-sizing: border-box;
}

.side_bottom {
    background-color: #ffffff;
    width: 100%;
    height: 14.6vh;
    padding-top: 1vw;
    padding-left: 16.5vw;
}

.side_item_1, .side_item_2, .side_item_3,
.side_item_4, .side_item_5, .side_item_6,
.side_item_7, .side_item_8, .side_item_9,
.side_item_10, .side_item_11 {
    width: 100vw;
    height: 3.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side_profile_1, .side_profile_2, .side_profile_3,
.side_profile_4, .side_profile_5, .side_profile_6,
.side_profile_7, .side_profile_8, .side_profile_9,
.side_profile_10, .side_profile_11 {
    background-color: #E9A4B7;
    width: 2vw;
    height: 2vw;
    margin-right: 1vw;
    border-radius: 50%;
}

.side_profile_1 {
    background-color: #AAA3F3;
}

.side_profile_2 {
    background-color: #A3CAE7;
}

.side_profile_3 {
    background-color: #A1EBDB;
}

.side_profile_4 {
    background-color: #E9A5B7;
}

.side_profile_5 {
    background-color: #E7DCA6;
}

.side_profile_6 {
    background-color: #AAA3F3;
}

.side_profile_7 {
    background-color: #DAA6EB;
}

.side_profile_8 {
    background-color: #A1EBDB;
}

.side_profile_9 {
    background-color: #A3CAE7;
}

.side_profile_10 {
    background-color: #E9A5B7;
}

.side_profile_11 {
    background-color: #E7DCA6;
}

.side_name_1, .side_name_2, .side_name_3,
.side_name_4, .side_name_5, .side_name_6,
.side_name_7, .side_name_8, .side_name_9,
.side_name_10, .side_name_11 {
    background-color: #D3DEDE;
    width: 14vw;
    height: 0.7vw;
}

.lupa {
    width: 1.5vw;
    height: 1.5vh;
}
